@font-face {
    font-family: 'Inter-Regular';
    src: url('./fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./fonts/Inter-Bold.ttf');
}

body {
    background-color: rgb(86, 86, 86);
    overflow-y: hidden;
    overflow-x: hidden;
}

#app {
    margin-top: 15px;
}

#buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#save {
    all: revert;
    position: relative;
    font-family: 'Inter-Regular', 'sans-serif';
    font-size: 20px;
}

#savesync {
    all: revert;
    position: relative;
    font-family: 'Inter-Regular', 'sans-serif';
    font-size: 20px;
}

#normal {
    all: revert;
    position: relative;
    font-family: 'Inter-Regular', 'sans-serif';
    font-size: 20px;
}

#bold {
    all: revert;
    position: relative;
    font-family: 'Inter-Regular', 'sans-serif';
    font-size: 20px;
}

b {
    font-family: 'Inter-Bold', 'sans-serif';
}

#italic {
    all: revert;
    position: relative;
    font-family: 'Inter-Regular', 'sans-serif';
    font-size: 20px;
}

#underline {
    all: revert;
    position: relative;
    font-family: 'Inter-Regular', 'sans-serif';
    font-size: 20px;
}

#stickyContainer {
    margin-top: 200px;
    display: block;
    width: 800px;
    height: 690px;
    margin: 0 auto;
}

#sticky {
    width: 800px;
    height: 690px;
    resize: none;
    background-color: rgb(238, 238, 154);
    font-size: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    font-family: 'Inter-Regular', 'sans-serif';
    padding-left: 5px;
    padding-top: 5px;
    overflow-y: scroll;
}

#sticky:focus {
    outline: none;
}